@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #038C73, #027368) !important;
}
main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #013d378e ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    color: #3B0273 ;
    text-shadow: 1px 1px 2px #2a0251a1;

}
h2 {
    color: #A66D03;

}
p {
    text-align: justify;

}